
/*<div class="navbar-collapse collapse sidebar-navbar-collapse">*/
@media (min-width: 300px) {
  .container{
    max-width: 350px;
    /*position: absolute;
    width: 300px;*/
  }
  .scrollable-menu {
      height: auto;
      max-height: 600px;
      /*width: 100px;*/
      overflow-x: hidden;
      /*max-width: 170px;*/
  }
  /*
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    position: absolute;
    width: 200px;
  }
  .sidebar-nav .navbar ul {
    position: absolute;
    width: 200px;
  }
  .sidebar-nav .navbar ul:not {
    position: absolute;
    width: 200px;
  }
  .sidebar-nav .navbar li {
    float: none;
  }
  */

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;

    position: absolute;
    width: 200px;
  }
  .sidebar-nav .navbar ul {
    float: none;

    /*position: absolute;
    width: 200px;*/

  }
  .sidebar-nav .navbar ul:not {
    /*display: block;*/
    float: none;
    width: 200px;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;

    width: 200px;

    /*position: absolute;
    width: 200px;*/
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;

    width: 200px;
  }
}
